# Compiled
*.com
*.class
*.py[cod]
*.log
*$py.class
*.cache

# Data
*.core
*.pkl
*.mat
*.h5
*.dat

# Figures, Note that some png will be commited.
*.pdf
*.mp4

# Folders:
*.egg-info/
NeuroProbNum.egg-info/
build/
data/
_data/
_figures/
__pycache__/
__pypackages__/
.idea/
.ipynb_checkpoints
*-logs


# Compiled Cython
*.c
*.so
*.o

# C++
# Prerequisites
*.d

# Compiled files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app